.git
.github
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.venv
**/node_modules
**/.run
**/.env
relatorio/
*.docx
*.pdf
*.log
.DS_Store
plataforma/web/dist
plataforma/api/.venv
plataforma/.run
